<header>
  <app-search-cities [(city)]="city" (chooseCity)="changeCity($event)" />
  <button mat-fab extended (click)="getByCoordinates()">
    <mat-icon>my_location</mat-icon>
    Search by your location
  </button>
</header>

@let _weather = !weather.isLoading() ? weather.value()?.main : undefined;
<main>
  <app-label title="Feels Like"   [value]="_weather?.feels_like" suffix="°C" />
  <app-label title="Minimum"      [value]="_weather?.temp_min" suffix="°C" />
  <app-label title="Maximum"      [value]="_weather?.temp_max" suffix="°C" />
  <app-label title="Pressure"     [value]="_weather?.pressure" suffix="hPa" />
  <app-label title="Humidity"     [value]="_weather?.humidity" suffix="%" />
  <app-label title="Sea Level"    [value]="_weather?.sea_level" suffix="m" />
  <app-label title="Ground Level" [value]="_weather?.grnd_level" suffix="m" />
</main>
