<h1>Previsão do Tempo</h1>
<input [(ngModel)]="city" placeholder="Digite a cidade" />
<button (click)="updateCity()">Buscar</button>
<button (click)="getByCoordinates()">Pegar por localização</button>

@let _weather = weather();

@if (_weather) {
  <div>
    <p><strong>Temperatura:</strong> {{ isLoading() ? '...' : _weather.temp }}°C</p>
    <p><strong>Sensação térmica:</strong> {{ isLoading() ? '...' : _weather.feels_like }}°C</p>
    <p><strong>Mínima:</strong> {{ isLoading() ? '...' : _weather.temp_min }}°C</p>
    <p><strong>Máxima:</strong> {{ isLoading() ? '...' : _weather.temp_max }}°C</p>
    <p><strong>Pressão:</strong> {{ isLoading() ? '...' : _weather.pressure }} hPa</p>
    <p><strong>Umidade:</strong> {{ isLoading() ? '...' : _weather.humidity }}%</p>
    <p><strong>Nível do mar:</strong> {{ isLoading() ? '...' : _weather.sea_level || 'N/A' }} hPa</p>
    <p><strong>Nível do solo:</strong> {{ isLoading() ? '...' : _weather.grnd_level || 'N/A' }} hPa</p>
  </div>
}
